:root {
  --black: #202020;
  --black-light: rgba(32,32,32, .7);
  --navy: #17223b;
  --navy-bg: rgba(23,34,59,.1);
  --navy-light: rgba(23,34,59,.7);
  --blue: #263859;
  --blue-light: rgba(38,56,89,.7);
  --red: #ff6768;
  --red-light: rgba(255,103,104,.7);
  --gray: #6b778d;
  --gray-light: rgba(107,119,141,.7);


  --header-height: 70px;
  --footer-height: 100px;

    // spacer base
    --s: 8px;
}